/*css variabelen*/
:root {
    --color-white: #ffffff;
    --color-blue: #360ee9;
    --color-darkred: #a71f53;
    --color-black: rgb(0, 0, 0);
}

/*parameters*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-white);

}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-width: 53%;
    margin: 0 auto;
  
    
}

/* header */

h1{
    color: var(--color-black);
}

header .top-header {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}


.bottom-header {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border: var(--color-white) 2px solid;
    border-left: none;
    border-right: none;

}
header nav ul {
    display: flex;
    list-style: none;
}


header nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    color: var(--color-black)
}

/* images */
.foto_home{
    
    object-fit: cover;
    margin: 10px;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    width: 170px;
    
}




